/**** Write some CSS below ****/
body{
	font-family:Ubuntu;
	font-size: 20px;
	color: rgb(30,30,30);
	background-color: rgb(240,247,234);
	margin: 0px;
}

a {
	text-decoration: none;
}

h1, h2, h3 {
	font-family:  Cinzel;
}

/**** HEADER ****/
.background-picture {
	background-image: url(images/elephant-steps-chiang-rai2.jpg);
	background-position: center;
	background-size: cover;
}

.banner {
	text-align: center;
	padding: 100px 0px;
	color: white;
	text-shadow: black 0.5em 0.2em 0.5em;
}

.logo img {
	position: left;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.logo:hover img {
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
	filter: drop-shadow(10px 10px) brightness(1.2);
}

.banner h1 {
	font-size: 45px;
}

.banner p {
	font-size: 20px;
}

.btn-red {
	color: white;
	background-color: #F45D;
	padding: 10px 45px;
	margin-top: 30px;
	border-radius: 40px;
}

.btn-red:hover {
	opacity: 0.8;
	font-size: 21px;
	background-color: rgb(41, 154, 11);
}

/**** BODY ****/
.card-white img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100px;
	box-shadow: 1px 1px 20px rgb(119,167,61);
}

.card-white img:hover {
	transform: rotateY(180deg)
}

.card-white {
	background-color: white;
	width: 200px;
	padding: 24px;
	text-align: center;
	margin: 8px;
	border-radius: 100px;
	box-shadow: 1px 1px 10px rgb(119,167,61);
	perspective: 1000px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.container {
	width: 900px;
	margin:  auto;
	text-align: center;
	margin-bottom: 24px;
}

.links {
	text-decoration: none;
	position: relative;
	display: inline-block;
	color: darkgreen;
	overflow: hidden;
	background: linear-gradient(to right, rgb(229,68,82), rgb(229,68,82) 50%, darkgreen 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 700ms ease;
}

.links:hover {
	opacity: 0.8;
	color: green;
	background-position: 0 100%;
}

/**** FLIP-CARDS ****/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(to left, #daedcb, #a5cc72);
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background: linear-gradient(to right, #daedcb, #a5cc72);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-image-1,
.front-image-2,
.front-image-3,
.back-image-1,
.back-image-2,
.back-image-3 {
  color: white;
  text-shadow: black 1em 0.2em 1em;
  background-position: center;
  background-size: cover;
}

.front-image-1 {
	background-image: url(images/petit-dej.jpg);
	padding: 100px 30px;
}

.back-image-1 {
	background-image: url(images/repas-chiangrai.jpg);
	padding: 100px 60px;
}

.front-image-2 {
	background-image: url(images/atelier-savon.jpg);
	padding: 100px 50px;
}

.back-image-2 {
	background-image: url(images/sopa-atelier.jpg);
	padding: 100px 40px;
}

.front-image-3 {
	background-image: url(images/sam-chien.jpg);
	padding: 100px 80px;
}

.back-image-3 {
	background-image: url(images/mahout.jpg);
	padding: 100px 62px;
}

.flip-cards-disposition {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

/**** FOOTER ****/
.footer {
	text-align: right;
	background: linear-gradient(to left, #7cb451, #c9efaa);
	padding: 14px;
	margin-top: 30px;
	color: white;
}

.body-footer
{
  margin: 38px;
  padding: 0px;
  background: linear-gradient(to left, #7cb451, #c9efaa);
}

ul {
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
}

ul li {
  list-style:none;
  margin:0 30px;
}

ul li a .fa {
  font-size:40px;
  color:#262626;
  line-height:60px;
  transition:.5s;
}

ul li a {
  position:relative;
  display:block;
  width:60px;
  height:60px;
  background:#fff;
  text-align:center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  transition-timing-function: linear;
  box-shadow:-20px 20px 10px rgba(0,0,0,.5);
}

ul li a:before {
  content:'';
  position:absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background:#b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

ul li a:after {
  content:'';
  position:absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background:#b1b1b1;
  transition: .85s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow:-50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover .fa
{
  color:#fff;
}

/* youtube */
ul li:hover:nth-child(1) a
{
  background: #cd201f;
}
ul li:hover:nth-child(1) a:before
{
  background: #930504;
}
ul li:hover:nth-child(1) a:after
{
  background: #e62c2a;
}

/* instagram */
ul li:hover:nth-child(2) a
{
  background: #e4405f;
}
ul li:hover:nth-child(2) a:before
{
  background: #cb1d3d;
}
ul li:hover:nth-child(2) a:after
{
  background: #ad344a;
}

/* facebook */
ul li:hover:nth-child(3) a
{
  background: #3b5999;
}
ul li:hover:nth-child(3) a:before
{
  background: #2c3e64;
}
ul li:hover:nth-child(3) a:after
{
  background: #516aa5;
}